{% extends "layouts/base.html" %} {% block content %}
<div class="journal-container">
    <div class="breadcrumb">Journals / <a href="#">Full Article</a></div>
    <div class="volume">Volume: 9(4)|2024 | Page: 54–68</div>
    <div class="authors" style="display: flex; align-items: center">
        <img src="../src/assets/group.png" alt="" style="margin-right: 5px" />
        Kwaghfan Aondookaa, Luper Iorpev, Gbulum Titus Tyolumun |
    </div>
    <div class="article-title">
        Firm Attributes and Audit Reporting Timeliness of Listed Deposit Money
        Banks in Nigeria
    </div>
    <div class="abstract">
        <strong>Abstract:</strong> This study examines the effect of corporate
        environmental disclosure determinants on financial performance of
        selected listed manufacturing firms in Nigeria. The study used ex-post
        facto research design, secondary method of data collection was employed
        with a population of fifty-two selected manufacturing firms, sample of
        ten manufacturing firms were used, data was obtained from the published
        annual report and financial statement of listed Manufacturing firms in
        Nigeria Exchange Group covering a period of ten years (2012–2022).
        Multi-collinearity technique was used to analyze the data, findings
        showed that industry type and firm size was significant with a direct
        effect on return on assets at 5% significant judging from p-value, while
        financial leverage was significant with an indirect effect on return on
        assets judging from p-value of the estimate that was less than 5%
        conventional significance level. Hence, the study concluded that
        adherence to environmental disclosure by listed manufacturing firms
        through lessening environmental impacts caused by manufacturing
        activities promotes return on assets, as well as, firms size; while,
        excessive debt worsens it.
    </div>
    <div class="keywords">
        Keywords: Environmental disclosure determinants, industry type, firm
        leverage, firm size, financial performance.
    </div>
    <div class="citation">
        Citation: Gbemigun, C.O. (2024). Corporate Environmental Disclosure
        Determinants and Financial Performance of Selected Listed Manufacturing
        Firms in Nigeria. International Journal of Innovative Research in
        Accounting and Sustainability, 9(2), 141-152.
    </div>
    <a href="#" class="download-btn">Download Full Article</a>
</div>
{% endblock %}
