{% extends "layouts/base.html" %} {% block content %}
<!-- Main Content -->

<div class="main-content">
    <div class="text-content">
        <!-- <h2>Welcome to Adekunle Ajasin University</h2> -->
        <!-- <img src="/static/assets/aaua-logo.png" alt="Student in library" style="width: 100px; height: 100px; text-align: left;" /> -->
        <div class="logo-container" style="margin-bottom: 10px;">
            <img 
                src="/static/assets/aaua-logo.png" 
                alt="AAUA Logo" 
                style="
                    width: 300px;
                    height: 300px;
                    object-fit: contain;
                    display: block;
                    margin-bottom: 0.3rem;
                "
            />
        </div>
        <h3>AJET Journal</h3>
        <p>
            The Adekunle Ajasin University AJET Journal is a digital repository
            of research journals published by our faculty and students.
        </p>
        <p>
            Our mission is to facilitate knowledge sharing, foster
            collaboration, and promote innovative thinking among scholars,
            researchers, and practitioners.
        </p>
        <p>
            By publishing cutting-edge research, we aim to address pressing
            challenges, inspire new solutions, and contribute to the betterment
            of society.
        </p>
        <a
            href="#"
            class="btn"
            style="
                background-color: white;
                border: 1px solid #0066cc;
                color: #0066cc;
            "
            >Submit An Article</a
        >
    </div>
    <div class="image-content">
        <img src="/static/assets/ajet-img.png" alt="Student in library" />
        <div class="blue-box"></div>
       
    </div>
</div>

<div class="stats-division">
    <h2>Tracking Our Progress: The Numbers Speak For Themselves</h2> 
    <div class="stats">
        <div class="stat-item">
            <div class="stat-number">400+</div>
            <div class="stat-label">Articles</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">200+</div>
            <div class="stat-label">Users</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">10+</div>
            <div class="stat-label">Editors</div>
        </div>
    </div>
</div>

<!-- Latest Publications -->
<section class="publications">
    <div class="pub-header">
        <h2>Latest Publications</h2>
        <a href="/journal" class="view-all">View All Publications →</a>
    </div>
    <div class="pub-grid">
        {% for journal in journals %}
        <div
            class="pub-card"
            onclick="window.location.href='/journals/{{journal.id_string()}}'"
            style="cursor: pointer"
        >
            <div class="pub-vol">
                Volume: {{journal.volume}}, Pages: {{journal.pages}}
            </div>
            <div class="pub-title">{{journal.title}}</div>
            <div class="pub-abstract">
                <strong>Abstract:</strong>
                <p>{{journal.abstract_text}}</p>
            </div>
            <div class="pub-meta">
                <img src="/static/assets/group.png" alt="Category icon" />
                <span>{{journal.keywords}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
