{% extends "layouts/base.html" %} {% block content %}
<div class="container">
    <div class="editorial-head">
        <h1>Editorial Board</h1>
        <p class="subtitle">
            A diverse team of experts committed to promoting innovative research
        </p>
    </div>

    <div class="grid">
        <!-- Profile Cards -->
        <div class="profile">
            <img src="phone.img" alt="TAAMS" />
            <h3>Prof. Sunday O. Akinmulegun  </h3>
            <p><strong>Editor-in-Chief</strong></p>
            <!-- <p>Department of Economics, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <!-- <img src="/static/assets/fadiran.jpeg" alt="Dr. Mrs. T. P. Fadiran" /> -->
            <img src="phone.img" alt="TAAMS" />
            <h3>Dr. O. E. Igbekoyi </h3>
            <p><strong>Journal Secretary </strong></p>
            <!-- <p>Department of Economics, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

       
    </div>

    <div class="editorial-head" style="margin: 30px 0px;">
        <h1>Editorial Board</h1>
    </div>

    <div class="grid">
        <div class="profile">
            <h3>Dr. O. Faloye</h3>
            <!-- <p>Department of Economics, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Dr. T. Ihinmoyan</h3>
            <!-- <p>Department of Economics, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Dr. O. Oluwasuji</h3>
            <!-- <p>Department of Geography, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>

        <div class="profile">
            <h3>Dr. F. O. Oluwole</h3>
            <!-- <p>Department of Finance, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>
        
        <div class="profile">
            <h3>Dr. W. H. Agbaje</h3>
            <!-- <p>Department of Economics, Faculty of The Social Sciences</p> -->
            <p>Adekunle Ajasin University</p>
            <p>Akungba-Akoko, Ondo State, Nigeria</p>
        </div>
    </div>
</div>
{% endblock %}
